/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark-gray: #333333;
    --azure: #0084FD;
    --baby-blue: #B5DDFF;
    --blue-magenta: #9792E4;
    --yellow-ocre: #FBC061;
}
.debug{
    border: 1px solid black;
    min-height: 50px;
}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
/*************************************************
    LAYOUT
 *************************************************/
.container{
    max-width: 600px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
/*************************************************
    HEADER
 *************************************************/
header{
    background-color: var(--azure);
    color: var(--white);
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    position: sticky;
    top: 0;
}
header a{
    text-decoration: none;
    
    color: var(--white);
}
header span{
    font-size: 1.5rem;
}
.main-menu{
    display: none;
}
/*************************************************
    MAIN
 *************************************************/
#planning, #features, #get-started{
    background-color: var(--blue-magenta);
}
/* INTRO  */
#intro{
    padding: 0 2rem;
}
.card{
    background-color: var(--baby-blue);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}
.card:first-child{
    padding: 0;
}

.card img{
    width: 100%;
}

.card h3{
    font-size: 1.5rem;
    text-align: center;
    color: var(--azure);
    padding: 2rem 0;
}
.card button{
   appearance: none;
   width: 220px;
   height: 40px;
   border: none;
   border-radius: 3rem;
   background-color: var(--azure);
   color: var(--white);
   margin: 2rem 0;
}
.content button i{
    padding-right: 5px;
}
.content{
    padding: 0 1.5rem
}

/* PLANNING  */
#planning{
    padding: 3rem 0;
}
.plan img{
    width: 100%;
    padding: 2rem;
}
.plan h2{
    padding-bottom: 1rem;
}

.txt{
    padding: 0.75rem;
    color: var(--white);
}
.txt h2{
    font-size: 2rem;
    padding-bottom: 3rem;
}

.frame{
    border-radius: 30px;
    margin: 1.5rem;
    text-align: center;background-color: var(--white);
    
}
.frame p{
    font-style: italic;
    line-height: 1.5rem;
    padding: 0 0.75rem;
}
.circle{
    padding: 15px 20px;
    border-radius: 50%;
    background-color: var(--blue-magenta);  
    display: inline-block;
    color: var(--black);
    margin: 2rem 0;
}
  
/* TESTIMONIALS  */
.feedback{
    background-color: var(--blue-magenta);
    margin: 1.5rem;
}
/* FEATURES  */
.benefit{
    background-color: var(--white);
    margin: 1.5rem;
}
/* ABOUT US  */

/* GET STARTED  */

/*************************************************
    FOOTER
 *************************************************/
footer{
    background-color: var(--dark-gray);
}

/************************************************
    RESPONSIVE
 ************************************************/
/* TABLET  */
@media screen and (min-width:768px){
    .container{
        max-width: 750px;
    }
    /* INTRO  */
    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem; /*trucco per riempire tutto il container = dare il margine delle card in negativo*/
        margin-right: -0.75rem;
    }
    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }
    #intro .card:first-child{
        width: calc(66.66% - 1.5rem);
    }
    /* PLANNING  */
    #planning .txt h2{
        font-size: 4rem;
    }
    
}
/* DESKTOP 1  */
@media screen  and (min-width:992px){
    .container{
        max-width: 1140px;
    }
    /* INTRO  */
    #intro .card:first-child{
        display: flex;
    }

    .card img{
        width: 40%;
        padding-top: 4rem;
        padding-right: 4rem;
    }
   
    /* PLANNING  */
    #planning .container{
        max-width: 880px;
        margin: 0 auto;
    }
    #planning .row{
        display: flex;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #planning .col{
        width: 50%;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        display: flex;
        align-items: flex-end;
    }
    #planning .plan {
        margin-top: 2rem;
    }
    #planning .txt h2{
        font-size: 2rem;
    }
    .txt img{
        padding-bottom: 8rem;
    }
    .frame img{
        width: 70%;
    }
    .frame p{
        padding: 0 2.5rem;
    }
    .circle{
        padding: 10px 15px;
    }
}