/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark-gray: #333333;
    --azure: #0084FD;
    --baby-blue: #B5DDFF;
    --blue-magenta: #9792E4;
    --yellow-ocre: #FBC061;
}
.debug{
    border: 1px solid black;
    min-height: 50px;
}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.title-S{
    font-size: 1.5rem;
    text-align: center;
    color: var(--azure);
    font-weight: bold;
    margin: 1.5rem 0;
}
.title-M{
    font-size: ;
}
.title-L{
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem;
}
.title_XL{
    font-size: ;
}

.blue-magenta{
    color: var(--blue-magenta);
}
.text{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 1.5rem;
    padding-bottom: 1.5rem;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 1.2rem;
    text-align: center;
}
.raunded{
    border-radius: ;
}
.raunded-big{
    border-radius: ;
}
.img-circle{

}
.big-icon{
    color: var(--azure);
    font-size: 80px;
    text-align: center;
}
.btn{
    appearance: none;
    border: none;
    border-radius: 3rem;
    height: 40px;  
    letter-spacing: 0.2rem;
    font-weight: bold;
}

/*************************************************
    LAYOUT
 *************************************************/
.container{
    max-width: 600px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
section{
    margin: 5rem 0;
}

/*************************************************
    HEADER
 *************************************************/
header{
    background-color: var(--azure);
    color: var(--white);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header a{
    text-decoration: none;
     color: var(--white);
}
header span{
    font-size: 1.5rem;
}
.main-menu{
    display: none;
}
/*************************************************
    MAIN
 *************************************************/
#planning, #features, #get-started{
    background-color: var(--blue-magenta);
    color: var(--white);
}
/* INTRO  */
#intro{
    margin-top: 3.5rem;
    padding: 0 2rem;
}
#intro p{
    color: #5a6e7f;
    font-weight: bold;
}
.card{
    background-color: var(--baby-blue);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}
.card img{
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 1.5rem;
}
.card button{
   width: 220px;
   border-radius: 3rem;
   background-color: var(--azure);
   color: var(--white);
   margin: 0 1.5rem;
}

/* PLANNING  */
#planning{
    padding: 3rem 0;
}
.plan img{
    width: 100%;
    padding: 2rem 1rem;
}
.plan h2{
    padding-bottom: 1rem;
}

.txt{
    padding: 0.75rem;
}
.txt h2{
    font-size: 2rem;
    padding-bottom: 3rem;
}

.frame{
    border-radius: 30px;
    margin: 1.5rem;
    text-align: center;
    background-color: var(--white); 
    color: var(--black); 
}
.frame p{
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.9rem;
    padding: 0 0.75rem;
}
.circle{
    padding: 15px 20px;
    border-radius: 50%;
    background-color: var(--blue-magenta);  
    display: inline-block;
    color: var(--black);
    margin: 2rem 0;
}
  
/* TESTIMONIALS  */
#testimonials p{
    font-size: 1.2rem;
    line-height: 2rem;
    padding-top: 1rem;
}
#testimonials .container{
    padding-bottom: 1rem;
}
.feedback{
    background-color: var(--blue-magenta);
    color: var(--white);
    border-radius: 3rem;
    margin: 2rem 1.5rem;
    padding: 2rem 0;
}
.round{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
.round img{
    ddisplay: inline;
    margin: 0 auto;
    margin-left: -25%; /*centers the img*/
    height: 100%;
    width: auto;
}
.testimonial-name{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
/* FEATURES  */
#features{
    padding: 2rem 1.5rem;
}
.benefit-card{
    background-color: var(--white);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}
#features h2{
    color: var(--white);
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}
#features h3{
    color: var(--blue-magenta);
    font-size: 2.5rem;
    padding: 1.5rem;
}
#features h4{
    color: var(--blue-magenta);
    font-size: 1.5rem;
    padding: 0 1.5rem;
}
#features p{
    padding: 1.5rem;
    line-height: 1.5rem;
}
#features button{
   width: 140px;
   height: 40px;
   border: none;
   border-radius: 2rem;
   background-color: var(--blue-magenta);
   color: var(--white);
   margin-bottom: 1.5rem;
   margin-left: 1.5rem;
}

/* ABOUT US */
#about-us{
    padding: 3rem 1.5rem;
}
#about-us h2{
    font-size: 2.5rem;
    color: var(--blue-magenta);
    padding-bottom: 2rem;
}
#about-us p{
    padding-bottom: 2rem;
    line-height: 2rem;
}
#about-us img{
    width: 40%;
    border-radius: 50%;
    position: relative;
}
.quotation-mark{
    color: var(--blue-magenta);
    font-size: 3rem;
    position: absolute;   
}
#about-us h3{
    font-size: 1.8rem;
    color: var(--blue-magenta);
    padding: 1.5rem 0;
}
#about-us button{
    background-color: var(--blue-magenta);
    color: var(--white);
    border: none;
    border-radius: 2rem;
    width: 190px;
    height: 40px; 
}
#about-us button i{
    padding-right: 5px;
}

/* GET STARTED  */
#get-started{
    padding: 1.5rem;
    color: var(--white);
    text-align: center;
    margin-bottom: 0;
}
.title{
    font-size: 1.2rem;
    opacity: 50%;
    padding: 1.5rem 0;
}
#get-started h2{
    font-size: 4rem;
    padding-bottom: 2rem;
    color: var(--yellow-ocre);
}
#get-started h3{
    font-size: 2rem;
    padding-bottom: 2rem;
}
#get-started p{
    padding-bottom: 2rem;
    line-height: 1.5rem;
}
#get-started button{
    width: 265px;
    height: 65px;
    margin-bottom: 2rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--white);
    color: var(--blue-magenta);
    font-size: 1.2rem;
    letter-spacing: 3px;
}
.copyright{
    font-size: 0.8rem;
    padding-bottom: 2.5rem;
}
.copyright a{
    color: var(--white);
}
.copyright i{
    font-size: 0.3rem;
    vertical-align: middle;
}
/*************************************************
    FOOTER
 *************************************************/
footer{
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 2.5rem 1.5rem;
    font-size: 0.8rem;
    text-align: center;
}
footer p{
    padding-bottom: 3rem;
}
footer a{
    color: var(--blue-magenta);
}
/************************************************
    RESPONSIVE
 ************************************************/
/* TABLET  */
@media screen and (min-width:768px){
    .container{
        max-width: 750px;
    }
    /* INTRO  */
    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem; /*trucco per riempire tutto il container = dare il margine delle card in negativo*/
        margin-right: -0.75rem;
    }
    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }
    #intro .card:first-child{
        width: calc(66.66% - 1.5rem);
    }
    #intro .title-S:first-child{
        text-align: left;
        margin-left: 1.5rem;
    }
   
    .card img{
        width: 50%;
        display: block;
    }

    /* PLANNING  */
    #planning .txt h2{
        font-size: 4rem;
    }

    /* TESTIMONIALS */
   
    .title-L {
        font-size: 2.6rem;
    }
    .text{
        padding-top: 1rem;
        font-size: 1rem;
    }
  
    .feedback{
        display: flex;
        padding: 1.5em;
    }
    .feedback .text{
        text-align: left;
    }
   
    .round{
        width: 210px;
        height: 210px;
    }
    .testimonial-name{
        text-align: left;
        padding-top: 0;
        padding-bottom: 2.5rem;
        text-indent: 1.5rem;
        font-size: 1.1rem;
    }

     /* FEATURES  */
     #features h2{
        padding-bottom: 3rem;
        font-size: 2.5rem;
     }
     #features h3{
        font-size: 5rem;
     }
     .benefit{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem; 
        margin-right: -0.75rem;
    }
    .benefit-card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(50% - 1.5rem);
    }

    /* ABOUT US */
    #about-us .container{
        display: flex;
        margin: 0.75rem auto;
    }
    .left{
        width: 60%;
    }
    .right{
        width: 40%;
        margin-left: 4rem;
    }
}



/* DESKTOP 1 */
@media screen  and (min-width:992px){
    .container{
        max-width: 974px;
    }
    /* INTRO  */
    #intro .card:first-child{
        display: flex;
    }
    .card img{
        width: 50%;
        padding-top: 2rem;
        padding-right: 4rem;
        padding-left: 3rem;
    }
    .card button{
        height: 45px ;
        font-size: 1.1rem;
    }
    .text{
        font-size: 1.1rem;
        line-height: 1.9rem;
    }
   
    /* PLANNING  */
    #planning .container{
        max-width: 880px;
        margin: 0 auto;
    }
    #planning .row{
        display: flex;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #planning .col{
        width: 50%;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        display: flex;
        align-items: flex-end;
    }
    #planning .plan {
        margin-top: 2rem;
    }
    #planning .txt h2{
        font-size: 2rem;
    }
    .txt img{
        padding-bottom: 8rem;
    }
    .frame img{
        width: 70%;
    }
    /* TESTIMONIALS */
    .title-L {
        font-size: 3rem;
    }
    .feedback .text{
        margin-top: 1.5rem;
        padding-left: 2.5rem;
    }
    .testimonial-name{
        padding-left: 2.5rem;
    }
    .round{
        width: 180px;
        height: 180px;
    }
    /* FEATURES  */
    
    .benefit-card{
        width: calc(33.33% - 1.5rem);
    }
}

/* DESKTOP 2 */
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}