/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --text-gray: #5a6e7f;
    --dark-gray: #333333;
    --azure: #0084FD;
    --baby-blue: #B5DDFF;
    --blue-magenta: #9792E4;
    --yellow-ocre: #FBC061;
}
.debug{
    border: 1px solid black;
    min-height: 50px;
}
body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.title-S{
    font-size: 1.5rem;
    text-align: center;
    color: var(--azure);
    font-weight: bold;
    margin: 1.5rem 0;
}
.title-S-left{
    color: var(--blue-magenta);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1.5rem;
}
.title-M{
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 0;
}
.title-L{
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem 0;
}
.title_XL{
    color: var(--blue-magenta);
    font-size: 3rem;
    font-weight: bold;
    padding: 1.5rem;
}
.title-XXL{
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 2rem;
    color: var(--yellow-ocre);
}
.blue-magenta{
    color: var(--blue-magenta);
}
.text{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 1.5rem;
    padding-bottom: 1.5rem;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 1.2rem;
    text-align: center;
}
.big-icon{
    color: var(--azure);
    font-size: 80px;
    text-align: center;
}
.btn{
    appearance: none;
    border: none;
    border-radius: 3rem;
    height: 40px;  
    letter-spacing: 0.2rem;
    font-weight: bold;
}

/*************************************************
    LAYOUT
 *************************************************/
.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
section{
    margin: 3rem 0;
}

/*************************************************
    HEADER
 *************************************************/
header{
    background-color: var(--azure);
    color: var(--white);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header a{
    text-decoration: none;
     color: var(--white);
}
header span{
    font-size: 1.5rem;
}
.main-menu{
    display: none;
}
/*************************************************
    MAIN
 *************************************************/
#planning, #features, #get-started{
    background-color: var(--blue-magenta);
    color: var(--white);
}
/* INTRO  */
#intro{
    margin-top: 3.5rem;
}
#intro p{
    color: var(--text-gray);
    font-weight: bold;
}
.card{
    background-color: var(--baby-blue);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}
.card img{
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 1.5rem;
}
.card button{
   width: 220px;
   border-radius: 3rem;
   background-color: var(--azure);
   color: var(--white);
   margin: 0 1.5rem;
}

/* PLANNING  */
#planning{
    padding: 3rem 0;
}
.plan img{
    width: 100%;
    padding: 2rem 0;
}
.plan h2{
    padding-bottom: 1rem;
}

.txt{
    padding: 0.75rem;
}
.txt h2{
    font-size: 2rem;
    padding-bottom: 3rem;
}

.frame{
    border-radius: 30px;
    margin: 1.5rem 0;
    text-align: center;
    background-color: var(--white); 
    color: var(--black); 
}
.frame p{
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.9rem;
    padding: 0 0.75rem;
}
.circle{
    padding: 15px 20px;
    border-radius: 50%;
    background-color: var(--blue-magenta);  
    display: inline-block;
    color: var(--black);
    margin: 2rem 0;
}
  
/* TESTIMONIALS  */
#testimonials p{
    font-size: 1.2rem;
    line-height: 2rem;
    padding-top: 1rem;
}
#testimonials .container{
    padding-bottom: 1rem;
}
.feedback{
    background-color: var(--blue-magenta);
    color: var(--white);
    border-radius: 3rem;
    margin: 2rem 0;
    padding: 2rem 0;
}
.round{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
.round img{
    ddisplay: inline;
    margin: 0 auto;
    margin-left: -25%; /*centers the img*/
    height: 100%;
    width: auto;
}
.testimonial-name{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
/* FEATURES  */
#features{
    padding: 2rem 0;
}
.benefit{
    padding-top: 2.5rem;
}
.benefit-card{
    background-color: var(--white);
    color: var(--text-gray);
    border-radius: 1rem;
    margin-bottom: 2rem;
}
#features p{
    padding: 1.5rem;
    line-height: 1.9rem;
}
#features button{
    width: 140px;
    background-color: var(--blue-magenta);
    color: var(--white);
    font-size: 16px;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}

/* ABOUT US */
#about-us .title-L{
    font-size: 2.5rem;
    text-align: left;
}
#about-us p{
    padding-bottom: 2rem;
    line-height: 2rem;
}
.images{
    position: relative;
}
#about-us img{
    width: 60%;
    border-radius: 50%;
}
.quotation-mark{
    color: var(--blue-magenta);
    font-size: 3rem; 
    position: absolute;
    left: 120px;  
    top: 0;
}
.quote{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--blue-magenta);
    padding: 1.5rem 0;
}
#about-us button{
    background-color: var(--blue-magenta);
    color: var(--white);
    width: 190px;
    height: 35px;
    border-radius: 3rem;
    letter-spacing: 0;
    font-weight: normal;
}
#about-us button i{
    padding-right: 5px;
}

/* GET STARTED  */
#get-started{
    padding: 1.5rem 0;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5rem;
}
#get-started .section-title{
    opacity: 50%;
    padding: 1.5rem 0;
}
.p-container{
    max-width: 460px;
    margin: 0 auto;
}
#get-started p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
#get-started button{
    width: 265px;
    height: 65px;
    margin-bottom: 1.5rem;
    background-color: var(--white);
    color: var(--blue-magenta);
    font-size: 1.1rem;
    letter-spacing: 3px;
}
.copyright{
    font-size: 0.9rem;
    padding-bottom: 2rem;
}
.copyright a{
    color: var(--white);
}
.copyright i{
    font-size: 0.3rem;
    vertical-align: middle;
}
/*************************************************
    FOOTER
 *************************************************/
footer{
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 2.5rem 1.5rem;
    font-size: 0.8rem;
    text-align: center;
}
.footer-container{
    max-width: 410px;
    margin: 0 auto;
}
footer p{
    padding-bottom: 3rem;
}
footer a{
    color: var(--blue-magenta);
}
/************************************************
    RESPONSIVE
 ************************************************/
/* TABLET  */
@media screen and (min-width:768px){
    .container{
        max-width: 750px;
    }
    .title-XXL{
        font-size: 6rem;
        padding-top: 2rem;
    }
    .title-L {
        font-size: 2.6rem;
    }
    .title-M{
        font-size: 3rem;
        padding: 0;
    }
    /* INTRO  */
    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem; 
        margin-right: -0.75rem;
    }
    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }
    #intro .card:first-child{
        width: calc(66.66% - 1.5rem);
    }
    #intro .title-S:first-child{
        text-align: left;
        margin-left: 1.5rem;
    }
   
    .card img{
        width: 50%;
        display: block;
    }

    /* PLANNING  */
    #planning .txt h2{
        font-size: 4rem;
    }

    /* TESTIMONIALS */
    .text{
        padding-top: 1rem;
        font-size: 1rem;
    }
  
    .feedback{
        display: flex;
        padding: 1.5em;
    }
    .feedback .text{
        text-align: left;
    }
   
    .round{
        width: 210px;
        height: 210px;
    }
    .testimonial-name{
        text-align: left;
        padding-top: 0;
        padding-bottom: 2.5rem;
        text-indent: 1.5rem;
        font-size: 1.1rem;
    }

     /* FEATURES  */
     .benefit{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem; 
        margin-right: -0.75rem;
    }
    .benefit-card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(50% - 1.5rem);
    }
    .title_XL{
        font-size: 4.5rem;
    }

    /* ABOUT US */
    #about-us .container{
        display: flex;
        margin: 0.75rem auto;
    }
    .left{
        width: 60%;
    }
    .right{
        width: 40%;
        margin-left: 4rem;
        align-self: flex-start;
        padding-top: 2.5rem;
    }
    #about-us .title-L{
        font-size: 4.5rem;
    }
    #about-us img{
        width: 90%;
    }
    .quotation-mark{
        font-size: 4rem; 
        left: 170px;  
    }
    .quote{
        font-size: 1.8rem;
    }
    #about-us p{
        line-height: 2.5rem;
        font-size: 1rem;
    }
    /* GET STARTED */
    #get-started p{
        font-size: 1.1rem;
    }
    #get-started button{
       height: 75px;
    }

    /* FOOTER */
    footer{
        font-size: 1rem;
    }
    
}



/* DESKTOP 1 */
@media screen  and (min-width:992px){
    .container{
        max-width: 974px;
    }
    /* HEADER  */
    header span{
        display: none;
    }
    .main-menu{
        display: inline-block;
    }
    nav ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    nav li{
        list-style: none;
        padding-left: 1.5rem;
    }
    .btn{
        width: 120px;  
        letter-spacing: 0rem;
        font-weight: normal;
        font-size: 16px;
    }
    /* INTRO  */
    #intro .card:first-child{
        display: flex;
    }
    .card img{
        width: 50%;
        padding-top: 2rem;
        padding-right: 4rem;
        padding-left: 3rem;
    }
    .card button{
        height: 45px ;
        font-size: 1.1rem;
    }
    .text{
        font-size: 1.1rem;
        line-height: 1.9rem;
    }
   
    /* PLANNING  */
    #planning .container{
        max-width: 880px;
        margin: 0 auto;
    }
    #planning .row{
        display: flex;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #planning .col{
        width: 50%;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        display: flex;
        align-items: flex-end;
    }
    #planning .plan {
        margin-top: 2rem;
    }
    #planning .txt h2{
        font-size: 2rem;
    }
    .txt img{
        padding-bottom: 8rem;
    }
    .frame img{
        width: 70%;
    }
    /* TESTIMONIALS */
    .title-L {
        font-size: 3rem;
    }
    .feedback .text{
        margin-top: 1.5rem;
        padding-left: 2.5rem;
    }
    .testimonial-name{
        padding-left: 2.5rem;
    }
    .round{
        width: 180px;
        height: 180px;
    }
    /* FEATURES  */
    
    .benefit-card{
        width: calc(33.33% - 1.5rem);
    }
    /* ABOUT US */
    .left{
        width: 70%;
    }
    .right{
        width: 30%;
        padding-top: 2.5rem;
        padding-left: 4rem;
    }
    
    .quotation-mark{
        font-size: 4rem; 
        left: 160px;  
    }
    #about-us p{
        line-height: 2.5rem;
        font-size: 1.1rem;
    }
}

/* DESKTOP 2 */
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}